* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: var(--clr-light);
}
:root {
  --clr-main: #00d9f6;
  --clr-dark: #0e121b;
  --clr-grey: #6c7589;
  --clr-light: #fff;
  --ff-secondary: 'Source Sans Pro', sans-serif;
}

/* NAVBAR */
nav {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
#logo img {
  width: 250px;
}
@media (min-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
  }
}
.nav-link-ul {
  width: 100%;
  max-width: 350px;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
}
li {
  margin: 5px;
}
a, a:visited, a:focus {
  text-decoration: none;
  color: var(--clr-main);
}
a:hover {
  color: var(--clr-grey);
}

/* Body */
body {
  background-color: var(--clr-dark);
}
main {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 15px auto;
  max-width: 600px;
  width: 90%;
}
input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin: 5px auto;
  text-align: center;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 10px;
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 2px double var(--clr-grey);
  display: flex;
  flex-direction: column;
  height: 0%;  
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {
  background-color: white;
  color: var(--clr-dark);
  flex: 1;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5px;
  padding: 10px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}